table {
  width: 100%;
}

.books-page-container {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.table-container {
  overflow-x: auto;
  background: #fff;
  border-radius: 8px;
  padding: 16px;
}

.full-width-table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: 8px 16px;
}

.mat-header-cell {
  background-color: #f1f1f1;
  font-weight: bold;
}

.mat-paginator {
  margin-top: 20px;
}

/* Button */
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

button {
  margin: 1rem;
}
