.example-spacer {
  flex: 1 1 auto;
}

.menu-item {
  a {
    margin: 10px;
    text-decoration: none;
  }
}

a:hover {
  color: rgb(41, 41, 41);
}

a:active {
  color: violet;
}

.active {
  color: blue;
}

a {
  color: black;
}
