<mat-toolbar *ngIf="isLogged">

  <span>Excel Manager</span>
  <span class="example-spacer"></span>

  <div class="menu-item">
    <a routerLink="books" routerLinkActive="active">Ver Livros</a>
  </div>
  <div class="menu-item">
    <a routerLink="register-book" routerLinkActive="active">Cadastrar</a>
  </div>
  <div class="menu-item">
    <a routerLink="import-books" routerLinkActive="active">Importar</a>
  </div>
  <div class="menu-item">
    <a (click)="logout()">Sair</a>
  </div>


</mat-toolbar>